<div id='title'>
    Quandl Databases - Getting Started
    <br>
    <pre><code> Andrew Berger Oct. 15, 2016 </code></pre>
</div>

<div id='text'>

    Quandl is a web service that provides free databases for financial, economic, demographic, and environmental information.
    It's really easy to access <a target='_blank' href='http://www.quandl.com'> quandl.com </a> with a variety of languages (Excel, R, Ruby) and free to use.
    <br> <br>

    If you don't have the Python API, don't worry - just <code> pip install quandl </code>.
    <br> <br>

    Quandl offers a 'Database Browser' where you can choose from stock, futures, commodity, currency,
    option, economic, industry data, and more - from the United States and the rest of the world!
    For futures data, there are databases for the Chicago Mercantile Exchange (CME), 
    Intercontinental Exchange (ICE), the CBOT, and more.
    <br> <br>

    Quandl is also <a target='_blank' href='http://www.quandl.com/docs/api'> well-documented </a>
    You do not need any special software to use the Quandl API. You can paste any API call directly into your browser address bar, to retrieve data. 
    <br> <br>

    You can also make API calls from the command line (console / terminal) of your computer, using curl or wget or similar utilities.
    <br> <br>

    Authenticated users have a limit of 300 calls per 10 seconds, 2,000 calls per 10 minutes, and a limit of 50,000 calls per day.
    Premium data subscribers have a limit of 5,000 calls per 10 minutes, and a limit of 720,000 calls per day.
    Anonymous requests are subject to a limit of 50 calls per day. Anonymous requests will be deprecated soon - so you should make an account!
    <br> <br>

    In the next tutorial we are going to use data from the <a target='_blank' href='http://www.quandl.com/data/FRED?keyword='> St. Louis Federal Reserve database.</a> 
    <br> <br>

</div>