<div id='title'>
    Money Supply and Interest Rates
    <br>
    <pre><code> Andrew Berger Dec. 10, 2016 </code></pre>
</div>

<div id='text'>

    In this section we will explain some of the reasoning behind
    the buying and selling of government bonds by central banks
    and the different effects these purchases and sales have on national
    interest rates and currency valuation.
    <br> <br>
</div>

<div id='title'>
    Bonds
    <hr>
</div>

<div id='text'>
    In general terms, bonds are a debt security resembling liquid loans. 

    <br> <br>
    When buying bonds, you are lending to an <em> issuer </em> who agrees 
    to make interest payments and eventually pay back the amount of the bond
    by maturity. Among other reasons, people buy bonds because of the stable income stream
    resulting from the interest payments. Bonds are commonly used to offset exposure 
    to more volatile stock holdings.

    <br> <br>
    Banks and corporations can issue bonds in order to fund capital investments
    and raise money for other projects. When issuing bonds,
they are agreeing to make periodic interest payments and eventually pay back the principle amount of the bond. Corporations may issue bonds to investors in order to receive a more attractive interest rate, compared to issuing to a bank.

    <br> <br>
    Types of bonds include:
    <ol>
        <li> Corporate - issued by private & public companies</li>
        <li> Investment - high credit rating, lower risk </li>
        <li> High-Yield - lower credit rating, higher interest rate </li>
        <li> Municipal - issued by states, cities, counties </li>
        <li> US Treasury - bills, notes, and bonds with no risk of default</li>
    </ol>
</div>

<br>
<div id='title'>
    Interest Rates
    <hr>
</div>

<div id='text'>
    The Federal Reserve (FED) buys and sells US Treasury bonds to affect the federal interest, or federal funds rate.
    <br> <br>

    The federal funds rate is essentially the overnight cost of lending for banks. When this rate increases,
    banks will charge higher borrowing rates to each other. Since the rates are negotiable between parties, 
    the federal funds rate is often compiled into a weighted average of the rate across all transactions, 
    called the <em> federal funds effective rate </em>.
    <br> <br>

    When the FED buys bonds, they are lending US dollars to issuers and effectively increasing the money supply.
    By increasing the money supply, the US dollar becomes less expensive and interest rates are prone to decline. 
    When the FED sells bonds, they are taking US dollars out of circulation, decreasing the overall money supply,
    and creating a scenario to increase the federal interest rate.
    <br> <br>

    By taking money in or out of circulation, the FED is changing the supply of the US dollar, therefore affecting the demand.
    When the FED buys bonds and increases the amount of money in circulation, they are devaluing and thus reducing
    the purchasing power of the US dollar. This is also called <em> inflation </em>.
</div>
<br>

<div class='crop'>
<img src=/static/images/money_demand_vs_supply.png>
</div>

<br>
<div id='title'>
    Inflation
    <hr>
</div>
<div id='text'>
    Inflation occurs when the price of goods and services in an economy increase relative to the currency of that economy.
    Simply put, inflation reduces purchasing power.
    <br> <br>

    You might be wondering: if inflation reduces how much I can spend, why doesn't the government mitigate inflation
    completely to increase consumption and stimulate the economy?
    The short answer is that a little inflation (usually around 2%) is good. The long answer involves what happens when inflation becomes
    negative, resulting in <em> deflation </em>. 
    <br> <br>

    In a period of deflation, the growth of the population and the economy is greater
    than growth of the money supply, resulting in lower aggregate demand, consumption, and overall defficiencies for the economy. 
    Deflation could induce a recession, devalues a currency in an open market, and produces higher prices for imports without necessarily
    stimulating exports to the same degree.
    <br> <br>

    The FED has various ways to change the effective interest rate, money supply, and affect inflation.
    <ol>
        <li> lower the interest rate to increase money supply and increase inflation </li>
        <li> raise the interest rate to decrease money supply and decrease inflation </li>
        <li> buy bonds to increase money supply, decrease interest rate and increase inflation </li>
        <li> sell bonds to decrease money supply, increase interest rate and decrease inflation </li>
    </ol>


<div class='crop'>
<img src=/static/images/usd_eur_money_supply.png>
</div>
<br>

</div>