<div id='title'>
    About Me
    <br>
</div>
        <div id='text'>

             I'm Andrew Berger - a 2015 graduate from the University Wisconsin-Madison,
             with B.S. degrees in Applied Economics and Anthropology.
             <br> <br>

             At UW-Madison I competed in the CME Trading Challenge and created an organization 
             called UW-Longboarders of Madison. I completed my capstone research project on the value of
             community outreach in socio-economically challenged neighborhoods in Madison, WI and an
             internship with Sustain Dane that involved evaluating programs including 
             the MPower Business program using metrics like the Likert scale.
             <br> <br>

             My most recent job experience has been working as a risk analyst for a high frequency 
             algorithmic trading firm in Chicago called HC Tech. At HC, I worked as part of a team by 
             pricing and trading derivatives to hedge risk across the firm. I also used tools like Python,
             Microsoft Excel, and Linux bash to help improve existing trading strategies.
             <br> <br>

<div id='text'>
A little background about myself: I'm a finance guy, and I've been teaching myself programming and computer science for a little more than a year now. I jumped headfirst into Linux, Python, C++, SQL, HTML, CSS .. anything I could get my hands on .. sometime at the end of 2015, after graduating from undergrad with a B. S. in Applied Agricultural & Environmental Economics. I had little to no previous programming skills, but had just started working at a proprietary trading firm in Chicago called HC Tech (formerly Henning and Carey Technologies). After witnessing high frequency electronic trading firsthand, I began to teach myself how to code, with the intention of eventually running a HFT strategy of my own. 
<hr>

You could say I wanted to learn Python to make some money. I was going to buy a nice boat, take it out to the beach, and lay down in the sun and read science fiction books while my trading programs make me a millionaire.. Basically wanted to run an aggressive futures strategy using predictive machine learning algorithms. And then my life's work would be cut out for me and I could buy that Super Air Nautique on my lakehouse when I'm 28 or so. 

Everyone wants to win the lottery. But in order to learn something, you have to commit. The first promise I made to myself was that I would need to be willing to make computer science a lifelong goal, the culmination of millions and millions of minuscule achievements. I wanted (and still would not mind) the money, but learning programming has taught me much more valuable things.
<hr>

The breaking point of my curiosity for computers, my epiphany, was when I realized that just about every computer application I had known & loved in my life (at that point, mostly the Microsoft Suite, my favorite video games, music recording and production software, and the Windows OS) was created from text files - files with words and proper syntax, that when compiled or interpreted by another program, produce a desired result. 
<hr>
</div>

             Some of my side projects have included: 
<ul> 
<li> developing an open-source API to a foreign exchange brokerage called Oanda </li>
<li> this website, built from scratch on HTML, CSS and the Python-Flask framwork </li>
</ul>
<br>

             I'm mostly interested in making inferences and applying my love for data
             to the real world. I enjoy finding the most efficient way to do things.
             <br> <br>

             Visit my github 
             <a target='_blank' href='https://github.com/aberger91'>aberger91 </a> 
             and view some of my most recent projects, including parts of this website!
             <hr>
        </div>
